.header {
  padding: 0.5rem 1.5rem;
  border-top: 2px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: calc(100% - 3rem);
}

.form-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.form-icons span {
  cursor: pointer;
}

.form-icons span:not(:last-child) {
  margin-right: 1rem;
}

.collapsed {
  display: none;
}

.expanded {
  display: block;
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 0.8rem;
  }
}
