.header {
  max-width: 900px;
  margin: 1rem auto;
  border-radius: 1rem;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  font-family: Montserrat, sans-serif;
}

.h1 {
  margin: 0 auto;
  width: fit-content;
  padding: 2.5rem 0;
}

@media screen and (max-width: 600px) {
  .h1 {
    font-size: 1.5rem;
    padding: 1.5rem 0;
  }
}
